<!--
=========================================================
Material Dashboard - v1.0.0
=========================================================

Coded by Renan S. Fernandes

=========================================================-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        Robot
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport'/>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet"/>
    <!-- Robot chat -->
    <link href="../assets/css/bot_int_style.css" rel="stylesheet"/>

</head>

<body class="">
<div class="wrapper ">
    <% include modules/sidebar.ejs %>
    <div class="main-panel">
        <!-- Navbar -->
        <% include modules/navbar.ejs %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <!-- Robot -->
                            <% include modules/robot.ejs %>
                            <div class="card-header card-header-primary">
                                    <h4 class="card-title ">Relação de Administradores</h4>

                                <button type="button" class="btn btn-primary create float-right">Novo ADM</button>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table text-center table-hover">
                                        <thead class=" text-primary">
                                        <th>
                                            Nome
                                        </th>
                                        <th>
                                            Acesso
                                        </th>
                                        <th>
                                            Criado em
                                        </th>
                                        <th>
                                            E-mail
                                        </th>
                                        <th>
                                            Opções
                                        </th>
                                        </thead>
                                        <tbody id="admins_list">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <% include modules/footer.ejs %>
    </div>
</div>
<!-- modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Usuário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nome:</label>
                        <input type="text" class="form-control" id="firstname">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Sobrenome:</label>
                        <input type="text" class="form-control" id="lastname">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Email:</label>
                        <input type="text" class="form-control" id="email" disabled>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nova senha:</label>
                        <input type="text" class="form-control" id="password">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Cargo:</label>
                        <input type="text" class="form-control" id="business">
                    </div>
                    <div class="form-group">
                        <label for="select-access" class="bmd-label-floating ">Acesso</label>
                        <label for="access"></label><select class="form-control" id="access">
                            <option value="admin">Administrador</option>
                            <option value="user">Usuário</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" id="update" class="btn btn-primary" data-dismiss="modal">Atualizar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal new adm -->
<div class="modal fade createModal" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo Administrador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div >
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Primeiro Nome</label>
                                    <input type="text" class="form-control" id="new_name">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Sobrenome</label>
                                    <input type="text" class="form-control" id="new_last_name">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">E-mail</label>
                                    <input type="text" class="form-control" autocomplete="off" id="new_email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Cargo</label>
                                    <input type="text" class="form-control" id="new_business">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Senha</label>
                                    <input type="text" class="form-control" autocomplete="off" id="new_password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="select-access" class="bmd-label-floating ">Acesso</label>
                                <label for="access"></label><select class="form-control" id="new_access">
                                    <option value="admin">Administrador</option>
                                    <option value="user">Usuário</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" id="save" class="btn btn-primary" data-dismiss="modal">Salvar</button>
            </div>
        </div>
    </div>
</div>
<!-- Small modal -->
<div class="modal fade bd-example-modal-sm small_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <h4>Deseja deletar este administrador?</h4>
            <h6 id="delete_adm_name" ></h6>
            <h6 id="delete_adm_email" ></h6>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" id="delete_adm" class="btn btn-primary" data-dismiss="modal">Deletar</button>
            </div>
        </div>
    </div>
</div>


<!--   Core JS Files   -->
<script src="../assets/js/core/jquery.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap-material-design.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts -->
<script src="../assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
<!--  Notifications Plugin    -->
<script src="../assets/js/plugins/bootstrap-notify.js"></script>
<script src="../assets/js/bot_int_script.js"></script>

<script>
    $(document).ready(function () {
        $(".admins").addClass("active")
    });
    //Robot Chat
    $('#dice_coeficiente').click(function () {
        $('.modalChatRobot').modal('show');

    });
    $('.chatButton').click(function () {
        $('.modalChatRobot').modal('hide')
    });


    const updateAdmins = () => {
        const myNode = document.getElementById("admins_list");
        myNode.innerHTML = '';
        let settings = {
            "async": true,
            "crossDomain": true,
            "url": '<%= server %>' + "webtool/toolkit/admins",
            "method": "search",
            "headers": {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            "processData": false,
        }

        $.ajax(settings).done((adminsList) => {
            adminsList.list.forEach((admin, index) => {
                $("#admins_list").append(`<tr>
    <td>
    ${admin.firstName}
    </td>
    <td>
    ${admin.access}
    </td>
    <td>
    ${admin.created}
    </td>
    <td>
    ${admin.email}
    <td>
            <button type="button" class="btn btn-primary edit" value="${index}">Editar</button>
            <button type="button" class="btn btn-primary delete" value="${index}">Deletar</button>
            </td>
    </tr>`);
            })


            $('.edit').click(function () {
                $('#modal').modal('show');
                document.getElementById("firstname").value = adminsList.list[$(this).val()].firstName;
                document.getElementById("lastname").value = adminsList.list[$(this).val()].lastName;
                document.getElementById("email").value = adminsList.list[$(this).val()].email;
                document.getElementById("password").value = "";
                document.getElementById("business").value = adminsList.list[$(this).val()].business;
                document.getElementById("access").value = adminsList.list[$(this).val()].access;
            })
            $('.delete').click(function () {
                $('.small_modal').modal('show');
                document.getElementById("delete_adm_name").innerHTML = adminsList.list[$(this).val()].firstName;
                document.getElementById("delete_adm_email").innerHTML = adminsList.list[$(this).val()].email;
            })
        });
    }
    updateAdmins();

</script>

<script>

    $('.create').click(function () {
        $('.createModal').modal()
    });

    $('#update').click(function () {
        let name = document.getElementById("firstname").value
        let lastName = document.getElementById("lastname").value
        let email = document.getElementById("email").value
        let password = document.getElementById("password").value
        let business = document.getElementById("business").value
        let access = document.getElementById("access").value
        let settings = {
            "async": true,
            "crossDomain": true,
            "url": '<%= server %>' + "webtool/toolkit/admins",
            "method": "merge",
            "headers": {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            "processData": false,
            "data": JSON.stringify({
                firstName: name,
                lastName: lastName,
                email: email,
                password: password,
                business: business,
                access: access
            }),
        }

        $.ajax(settings).done((message) => {
            updateAdmins();
            //type = ['', 'info', 'danger', 'success', 'warning', 'rose', 'primary'];
            $.notify({
                icon: "add_alert",
                message: message.response

            }, {
                type: 'warning',
                timer: 3000,
                placement: {
                    from: 'top',
                    align: 'right'
                }
            });
        });
    })


    $('#delete_adm').click(function () {
        let email = document.getElementById("delete_adm_email").innerHTML
        let settings = {
            "async": true,
            "crossDomain": true,
            "url": '<%= server %>' + "webtool/toolkit/admins",
            "method": "delete",
            "headers": {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            "processData": false,
            "data": JSON.stringify({
                email: email,
            }),
        }

        $.ajax(settings).done((message) => {
            updateAdmins();
            //type = ['', 'info', 'danger', 'success', 'warning', 'rose', 'primary'];
            $.notify({
                icon: "add_alert",
                message: message.response

            }, {
                type: 'warning',
                timer: 3000,
                placement: {
                    from: 'top',
                    align: 'right'
                }
            });
        });
    })
</script>

<script>
    $('#save').click(function () {
        let name = document.getElementById("new_name").value
        let lastName = document.getElementById("new_last_name").value
        let email = document.getElementById("new_email").value
        let password = document.getElementById("new_password").value
        let business = document.getElementById("new_business").value
        let access = document.getElementById("new_access").value

        if (email && name && password) {
            let settings = {
                "async": true,
                "crossDomain": true,
                "url": '<%= server %>' + 'webtool/toolkit/admins',
                "method": "subscribe",
                "headers": {
                    "content-type": "application/json",
                    "cache-control": "no-cache",
                },
                "processData": false,
                "data": JSON.stringify({
                    firstName: name,
                    lastName: lastName,
                    email: email,
                    password: password,
                    business: business,
                    access: access
                }),
            }

            $.ajax(settings).done((message) => {
                updateAdmins();
                //type = ['', 'info', 'danger', 'success', 'warning', 'rose', 'primary'];
                $.notify({
                    icon: "add_alert",
                    message: message.response

                }, {
                    type: 'success',
                    timer: 3000,
                    placement: {
                        from: 'top',
                        align: 'right'
                    }
                });
                document.getElementById("cadastro").innerHTML = "Dados pessoais cadastrados com sucesso.";
                document.getElementById("first_name").value = "";
                document.getElementById("last_name").value = "";
                document.getElementById("email").value = "";
                document.getElementById("password").value = "";
                document.getElementById("business").value = "";
                document.getElementById("access").value = "";
            });
        } else {
            //type = ['', 'info', 'danger', 'success', 'warning', 'rose', 'primary'];
            $.notify({
                icon: "add_alert",
                message: "Por favor, complete os campos..."

            }, {
                type: 'warning',
                timer: 3000,
                placement: {
                    from: 'top',
                    align: 'right'
                }
            });
        }
    })

    //Robot Chat
    $('#dice_coeficiente').click(function () {
        $('.modalChatRobot').modal('show');

    });
    $('.chatButton').click(function () {
        $('.modalChatRobot').modal('hide')
    });
</script>
</body>

</html>