<!--
=========================================================
Material Dashboard - v1.0.0
=========================================================

Coded by Renan S. Fernandes

=========================================================-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Robot
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
  <!-- Robot chat -->
  <link href="../assets/css/bot_int_style.css" rel="stylesheet"/>

</head>
<body class="">
<div class="wrapper ">
  <% include modules/sidebar.ejs %>
  <div class="main-panel">
    <% include modules/navbar.ejs %>
    <div class="content">
      <!-- Robot -->
      <% include modules/robot.ejs %>
      <div class="header bg-primary pb-6" style="background-image: url('../assets/img/brasil.jpg');background-size: cover;">
        <div class="container-fluid">
          <div class="header-body">
            <div class="row align-items-center py-4">
              <div class="col-lg-6 col-7">
                <h6 class="h2 text-white d-inline-block mb-0">Dashboard</h6>
              </div>
              <div class="col-lg-6 col-5 text-right">
                <a href="#" class="btn btn-sm btn-neutral" id="robot">Chat</a>
                <a href="dashboard" class="btn btn-sm btn-neutral">Atualizar</a>
              </div>
            </div>
              <!-- Card stats -->
              <div class="row">
                <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Total de Usuários</h5>
                          <span class="h2 font-weight-bold mb-0"><%= dashboard.totalUsers %></span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                            <i class="ni ni-active-40"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Total de Mensagens</h5>
                          <span class="h2 font-weight-bold mb-0"><%= dashboard.data.messages %></span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                            <i class="ni ni-chart-pie-35"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="col-xl-3 col-md-6">
                      <div class="card card-stats">
                          <!-- Card body -->
                          <div class="card-body">
                              <div class="row">
                                  <div class="col">
                                      <h5 class="card-title text-uppercase text-muted mb-0">Facebook Users</h5>
                                      <span class="h2 font-weight-bold mb-0"><%= dashboard.facebook %></span>
                                  </div>
                                  <div class="col-auto">
                                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                          <i class="ni ni-money-coins"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">

          <!-- Row One -->
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">textsms</i>
                  </div>
                  <p class="card-category">TRE LOCAL</p>
                  <h3 class="card-title"><%= dashboard.data.trelocal %>
                    <small></small>
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">textsms</i>
                  </div>
                  <p class="card-category">TRE TÍTULO</p>
                  <h3 class="card-title"><%= dashboard.data.tretitulo %></h3>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">textsms</i>
                  </div>
                  <p class="card-category">REGULARIDADE</p>
                  <h3 class="card-title"><%= dashboard.data.treregularidade %></h3>
                </div>
              </div>
            </div>
          </div>

          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card card-chart">
                <div class="card-header card-header-success">
                  <div class="ct-chart" id="dailySalesChart"></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Mensagens pelo portal</h4>
                  <p class="card-category">
                    Mensagens vindas dos portais em conexão</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    Total: <%= dashboard.data.webpage %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-chart">
                <div class="card-header card-header-warning">
                  <div class="ct-chart" id="websiteViewsChart"></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Média por usuário</h4>
                  <p class="card-category">Verifica a média por todas as plataformas</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    Total: <%= dashboard.data.averagemessages %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- Footer -->
      <% include modules/footer.ejs %>
      </div>
    </div>

  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
<script src="../assets/js/bot_int_script.js"></script>


  <script>
    $(document).ready(function() {
      //$(".dashboards").removeClass("active");
      // Javascript method's body can be found in assets/js/demos.js
      $(".dashboards").addClass("active")

      //Robot Chat
      $('#robot').click(function () {
        $('.modalChatRobot').modal('show');

      });
      $('.chatButton').click(function () {
        $('.modalChatRobot').modal('hide')
      });
    });
  </script>
<script>
  // Chat Robot
  $(".loader").hide();
  let oneUser = true,
          user,
          countingMessages,
          messageBody = document.querySelector('#chat');

  function loadDoc() {
    if (oneUser) {
      oneUser = false;
      user = Math.floor(Math.random() * 100000000000);
      countingMessages = 0;
    }
    let message = document.getElementById("chatmessage").value;
    ++countingMessages;
    if (countingMessages === 1) {
      document.getElementById("counting").innerText = `${countingMessages} mensagem`;
    } else {
      document.getElementById("counting").innerText = `${countingMessages} mensagens`;
    }
    jQuery('#chat').append(addUserMessage(message));
    messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
    jQuery('#chatmessage').val('');
    $(".loader").css("display", "block");
    let settings = {
      "async": true,
      "crossDomain": true,
      "url": '<%= server %>' + "robot",
      "method": "post",
      "data": JSON.stringify({
        user: 'webtool',
        message: message
      }),
      "headers": {
        "content-type": "application/json",
      },
      "processData": false,
    }
    $.ajax(settings).done((response) => {
      setTimeout(function () {
        $('#chat').append(addBotMessage(response.message))
      }, 500);
      setTimeout(function () {
        scrollBar()
      }, 520);
    });

  }

  function scrollBar() {
    messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
  }

  function addBotMessage(response) {
    $(".loader").hide();
    return `
<div class="d-flex justify-content-start mb-4">
  <div class="img_cont_msg">
    <img src="/assets/img/bot41.png" class="rounded-circle user_img_msg" alt="">
  </div>
  <div class="msg_cotainer">
  ${response}
    <span class="msg_time">${new Date().toLocaleTimeString()}</span>
  </div>
</div>`;
  }

  function addUserMessage(userMessage) {
    return `
<div class="d-flex justify-content-end mb-4">
        <div class="msg_cotainer_send">
        ${userMessage}
    <span class="msg_time_send">${new Date().toLocaleTimeString()}</span>
    </div>
    <div class="img_cont_msg">
        <img src="/assets/img/user.jpg" class="rounded-circle user_img_msg" alt="">
        </div>
        </div>`;
  }

</script>
</body>

</html>
