<!--
=========================================================
Material Dashboard - v1.0.0
=========================================================

Coded by Renan S. Fernandes

=========================================================-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Robot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../assets/index/util.css">
    <link rel="stylesheet" type="text/css" href="../assets/index/main.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(../assets/img/tre.jpg);">
					<span class="login100-form-title-1">
						ROBOT
					</span>
            </div>

            <div id="invalid"></div>
            <div class="login100-form validate-form">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input100">E-mail</span>
                    <label for="email"></label><input class="input100" id="email" type="email" name="email" placeholder="Enter your e-mail">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <label for="password"></label><input class="input100" id="password" type="password" name="password" placeholder="Enter password">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button id="login" class="login100-form-btn">
                        Login
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===============================================================================================-->

<script src="../assets/js/jquery.min.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>

<script>
    let server = '<%= server %>'

    $('#login').on("click", function () {
        let email = document.getElementById("email").value
        let password = document.getElementById("password").value
        let settings = {
            "async": true,
            "crossDomain": true,
            "url": server+"login",
            "method": "POST",
            "headers": {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            "processData": false,
            "data": JSON.stringify({
                email: email,
                password: password
            }),
        }

        $.ajax(settings)
            .done((response) => {
                if (response.case === 'Proceed'){
                    window.location.href = server+'webtool/dashboard';
                }else if (response.case === 'Login Failed'){
                    document.getElementById("invalid").innerHTML = 'Login Failed';
                }
            })

    });


</script>

<!--===============================================================================================-->

</body>
</html>