<!--
=========================================================
Material Dashboard - v1.0.0
=========================================================

Coded by Renan S. Fernandes

=========================================================-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        Robot
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport'/>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet"/>
    <!-- Robot chat -->
    <link href="../assets/css/bot_int_style.css" rel="stylesheet"/>

</head>

<body class="">
<div class="wrapper ">
    <% include modules/sidebar.ejs %>
    <div class="main-panel">
        <% include modules/navbar.ejs %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- Part 1 -->
                    <div class="col-md-12">
                        <div class="card">
                            <!-- Robot -->
                            <% include modules/robot.ejs %>
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Encontrar Conhecimento por Input</h4>
                                <a href="#" id="robot" class="float-right"> Verificar via CHAT</a>
                                <p class="card-category">Encontrar por mensagem treinada.<br></p>
                            </div>
                            <div class="card-body">
                                <input class="form-control" id="myInput" type="text" placeholder="Search..."><br>
                                <div class="card-deck  justify-content-center" id="myTable">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Part 2 -->
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Encontrar Conhecimento Por Assunto</h4>
                                <p class="card-category">Todo o conhecimento ensinado ao BOT por assunto.</p>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Lista de Assuntos
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                </div>
                            </div>

                            <div class="card-body">

                                <div><input class="form-control" id="myInput2" type="text" placeholder="Search...">
                                </div>
                                <div class="card-deck  justify-content-center" id="myTable2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <% include modules/footer.ejs %>
    </div>
</div>


<!-- Modal show-->
<div class="modal modalEdit fade" id="modalinput" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Detalhes do Conhecimento Registrado</h5>
            </div>
            <div class="modal-body">
                <div class="row float-right">
                    <h6>ID: </h6><h6 id="id" class="text-right"></h6>
                </div>
                <br>
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Detalhes</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                Assunto
                            </th>
                            <th>
                                Criado em
                            </th>
                            <th>
                                Calls
                            </th>
                            </thead>
                            <tbody id="details">
                            </tbody>
                        </table>
                        <div>
                            <h6>Summary:</h6>
                            <div class="md-form">
                                <textarea id="textarea-char-counter" class="form-control md-textarea" length="120" rows="3"></textarea>
                                <label for="textarea-char-counter">Digite a descrição deste conhecimento</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Inputs</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table text-center table-hover">
                                <thead class=" text-primary">
                                <th>
                                    #
                                </th>
                                <th class="text-right">
                                    Entrada
                                </th>
                                </thead>
                                <tbody id="input_list">
                                </tbody>
                            </table>
                            <button type="button" id="more-training" class="btn btn-primary pull-right">Mais
                            </button>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Outputs</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table text-center table-hover">
                                <thead class=" text-primary">
                                <th>
                                    #
                                </th>
                                <th class="text-right">
                                    Saída
                                </th>
                                </thead>
                                <tbody id="output_list">
                                </tbody>
                            </table>
                            <button type="button" id="more-answers" class="btn btn-primary pull-right">Mais
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary modalUpdate update" data-dismiss="modal" onclick="update()">Atualizar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal edit-->
<div class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar Conhecimento Registrado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal delete-->
<div class="modal fade" id="modaldelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Deletar Conhecimento Registrado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Deseja Deletar o Conhecimento ?</h3>
                <div id="deleteField">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary deleteKnowledge" data-dismiss="modal">Deletar</button>
            </div>
        </div>
    </div>
</div>


<!-- Small modal -->

<div class="modal modalEdits fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>

<!--   Core JS Files   -->
<script src="../assets/js/core/jquery.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap-material-design.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
<!--  Notifications Plugin    -->
<script src="../assets/js/plugins/bootstrap-notify.js"></script>
<script src="../assets/js/plugins/bootstrap-material-design.min.js"></script>
<script src="../assets/js/bot_int_script.js"></script>


<script>

    $(document).ready(function () {
        $(".knowledge").addClass("active")
        getCards()
        getSubjects()
    });
    let startData;
    let cardsList = {};
    let inputsNumber = 0;
    let outputsNumber = 0;


    $('#robot').click(function () {
        $('.modalChatRobot').modal('show');

    });
    $('.chatButton').click(function () {
        $('.modalChatRobot').modal('hide')
    });


    const getSubjects = () => {
        document.getElementsByClassName("dropdown-menu").innerHTML = "";
        let settings = {
            "async": true,
            "crossDomain": true,
            "url": '<%= server %>' + "robot/knowledgesubject",
            "method": "search",
            "headers": {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            "processData": false,
        }
        $.ajax(settings).done((subjectList) => {
            subjectList.list.forEach(item => {
                $(".dropdown-menu").append(`<a class="dropdown-item" onclick="getCards('${item.subject}')" href="#">${item.subject}</a>`);
            })

        });
    }


    const getCards = (valueIn) => {
        let search = $('#myInput2').val().toLowerCase()
        let searchResult = search === "" ? null : search;

        const myNode = document.getElementById("myTable2");
        myNode.innerHTML = '';
        let settings = {
            "async": true,
            "crossDomain": true,
            "url": '<%= server %>' + "robot/knowledge",
            "method": "search",
            "data": JSON.stringify({"search": searchResult || valueIn}),
            "beforeSend": function () {
                myNode.innerHTML = '';
                $("#myTable2").append('<img src="../assets/img/bot.gif" class="rounded" alt="Cinque Terre">')
            },
            "headers": {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            "processData": false,
        }
        $.ajax(settings).done((knowledgeList) => {
            cardsList =
                myNode.innerHTML = '';
            startData = knowledgeList.cards;
            knowledgeList.list.forEach((card, index) => {
                let inputList = ``;
                let outputList = ``;


                let time = new Date(card.date);
                let date = `${time.getDate()}/${time.getMonth() + 1}/${time.getFullYear()}`
                card.inputs.forEach((input, index) => {
                    inputList += `<tr>
                            <td>${index}</td>
                            <td class="rig text-right">
                             ${input.toUpperCase()}
                            </td>
                        </tr>`
                })
                card.output.forEach((output, index) => {
                    outputList += `<tr>
                            <td>${index}</td>
                            <td class="rig text-right">
                             ${output}
                            </td>
                        </tr>`
                })

                $("#myTable2").append(`<div class="col-lg-6 col-md-12">
    <div class="card">
        <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">

                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="${"#details" + index}" data-toggle="tab">
                            <i class="material-icons">description</i> Detalhes
                            <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="${"#inputs" + index}" data-toggle="tab">
                            <i class="material-icons">file_download</i> Entradas
                            <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="${"#outputs" + index}" data-toggle="tab">
                            <i class="material-icons">file_upload</i> Saídas
                            <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="nav-item deleteIcon" id="${card._id}">
                            <a class="nav-link" href="#" data-toggle="tab">
                                <i class="material-icons">delete</i>
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="nav-item editIcon" id="${card._id}">
                            <a class="nav-link" href="#" data-toggle="tab">
                                <i class="material-icons">edit</i> Editar
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <span class="nav-tabs-title text-center">Conhecimento Encontrado:  ${card.subject.toUpperCase()}   </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="${"details" + index}">
                <h6 class="text-primary">${'Descrição: ' + card.summary}</h6>

                <table class="table">
                    <thead class=" text-primary">
                    <th>
                        Assunto
                    </th>
                    <th>
                        Criado em
                    </th>
                    <th>
                        Calls
                    </th>

                    </thead>
                    <tbody id="detailsIn">
                    <td class="text-left" >
                        ${card.subject.toUpperCase()}
                    </td>
                    <td class="text-left" >
                        ${date}
                    </td>
                    <td class="text-left" >
                        ${card.calls}
                    </td>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="${"inputs" + index}">
            <table class="table">
                <thead class=" text-primary">
                <th>
                    #
                </th>
                <th class="text-right">
                    Input
                </th>
                </thead>
                <tbody>
                ${inputList}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="${"outputs" + index}">
        <table class="table">
            <thead class=" text-primary">
            <th>
                #
            </th>
            <th class="text-right">
                Output
            </th>
            </thead>
            <tbody>
            ${outputList}
            </tbody>
        </table>
    </div>
</div>`)
            })

            $('.show').click(function () {
                const details = document.getElementById("details");
                details.innerHTML = '';
                $('#modalinput').modal('show');

            });
            $('.editIcon').click(function () {
                document.getElementById("id").innerHTML = "";
                $("#details").empty();
                $("#input_list").empty();
                $("#output_list").empty();
                $('.modalEdit').modal();


                let id = ($(this).attr('id'));
                document.getElementById("id").innerHTML = id;
                let card = knowledgeList.list.find(card => {
                    if (card._id === id) return card
                })
                document.getElementById("textarea-char-counter").value = card.summary;
                let time = new Date(card.date);
                let date = `${time.getDate()}/${time.getMonth() + 1}/${time.getFullYear()}`

                $('#details').append(`
                    <tr>
                            <td class="text-left" >
                                <div class="md-form">
                                <input type="text" id="subject" value="${card.subject.toUpperCase()}" class="form-control">
                                <label for="form1">Antes: ${card.subject.toUpperCase()}</label>
                            </div>
                    </td>
                    <td class="text-left" >
                        ${date}
                    </td>
                    <td class="text-left" >
                        ${card.calls}
                    </td></tr>`);
                card.inputs.forEach((input, index) => {
                    $('#input_list').append(`

                            <tr>
                            <td id="inputs">${index}</td>
                            <td class="rig text-right">
                             <div class="md-form">
                                <input type="text" id="input${index}" value="${input.toUpperCase()}" class="form-control input_text">
                                <label for="form1">Antes: ${input.toUpperCase()}</label>
                            </div>
                            </td>
                        </tr>`)
                    inputsNumber = index;
                })
                card.output.forEach((output, index) => {
                    $('#output_list').append(`<tr>
                            <td id="outputs">${index}</td>
                            <td class="rig text-right">
                             <div class="md-form">
                                <input type="text" id="output${index}" value="${output}" class="form-control output_text">
                                <label for="form1">Antes: ${output}</label>
                            </div>
                            </td>
                        </tr>`)
                    outputsNumber = index;
                })

            });

            $('.deleteInput').click(function () {

            });

            $('.editOutput').click(function () {
                $('.modalEdit').modal('show');
            });
            $('.deleteOutput').click(function () {
                $('.modalEdit').modal('show');
            });

            $('.deleteIcon').click(function () {
                document.getElementById('deleteField').innerText = "";
                let id = ($(this).attr('id'));
                let deleteCard = knowledgeList.list.find(card => {
                    if (card._id.toString() === id.toString()) return card
                })
                $("#deleteField").append(`<div class="card" >
                                            <div class="col-lg-6 col-md-12">
                                                <h4>Assunto:</h4> <p>${deleteCard.subject.toUpperCase()}</p><br>
                                                <h4>Calls:</h4> <p>${deleteCard.calls}</p>
                                          </div>
                                          <p class="text-right cardDeleteId" id="${deleteCard._id}" >Id: ${deleteCard._id}</p>`);
                $('#modaldelete').modal('show');
            });
        })
    }
    $("#more-training").click(function () {
        ++inputsNumber;
        $("#input_list").append(`
                            <tr>
                            <td>${inputsNumber}</td>
                            <td class="rig text-right">
                             <div class="md-form">
                                <input type="text" id="input${inputsNumber}" class="form-control input_text">
                                <label for="form1">Novo Treino</label>
                            </div>
                            </td>
                        </tr>`);
    });
    $("#more-answers").click(function () {
        ++outputsNumber;
        $("#output_list").append(`
                            <tr>
                            <td>${outputsNumber}</td>
                            <td class="rig text-right">
                             <div class="md-form">
                                <input type="text" id="output${outputsNumber}" class="form-control output_text">
                                <label for="form1">Novo Treino</label>
                            </div>
                            </td>
                        </tr>`);
    });


    $("#myInput").on("keyup", function () {
        let myNode = document.getElementById("myTable");
        let value = $(this).val().toLowerCase();


        let settings = {
            "async": true,
            "crossDomain": true,
            "url": '<%= server %>' + "robot/knowledgeia",
            "method": "search",
            "data": JSON.stringify({"search": value}),
            "beforeSend": function () {
                myNode.innerHTML = '';
                $("#myTable").append('<img src="../assets/img/bot.gif" class="rounded" alt="Cinque Terre">')
            },
            "headers": {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            "processData": false,
        }
        $.ajax(settings).done((knowledgeList) => {
            myNode.innerHTML = '';
            $("#myTable").append(knowledgeList.cards)
        });
    });


    $("#myInput2").on("keyup", function () {
        let myNode = document.getElementById("myTable2");
        let value = $(this).val().toLowerCase();
        getCards();
    });
    $('.deleteKnowledge').click(function () {
        let id = ($('.cardDeleteId').attr('id'));
        let settings = {
            "async": true,
            "crossDomain": true,
            "url": '<%= server %>' + "robot/knowledgeia",
            "method": "delete",
            "headers": {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            "data": JSON.stringify({'id': id}),
            "processData": false,
        }
        $.ajax(settings).done((result) => {
            $(this).val().toLowerCase();
            getCards()
            //type = ['', 'info', 'danger', 'success', 'warning', 'rose', 'primary'];
            $.notify({
                icon: "add_alert",
                message: result

            }, {
                type: 'warning',
                timer: 3000,
                placement: {
                    from: 'top',
                    align: 'right'
                }
            });

        });
    });


</script>
<script>
    // Chat Robot
    $(".loader").hide();
    let oneUser = true,
        user,
        countingMessages,
        messageBody = document.querySelector('#chat');

    function loadDoc() {
        if (oneUser) {
            oneUser = false;
            user = Math.floor(Math.random() * 100000000000);
            countingMessages = 0;
        }
        let message = document.getElementById("chatmessage").value;
        ++countingMessages;
        if (countingMessages === 1) {
            document.getElementById("counting").innerText = `${countingMessages} mensagem`;
        } else {
            document.getElementById("counting").innerText = `${countingMessages} mensagens`;
        }
        jQuery('#chat').append(addUserMessage(message));
        messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
        jQuery('#chatmessage').val('');
        $(".loader").css("display", "block");
        let settings = {
            "async": true,
            "crossDomain": true,
            "url": '<%= server %>' + "robot",
            "method": "post",
            "data": JSON.stringify({
                user: 'webtool',
                message: message
            }),
            "headers": {
                "content-type": "application/json",
            },
            "processData": false,
        }
        $.ajax(settings).done((response) => {
            setTimeout(function () {
                $('#chat').append(addBotMessage(response.message))
            }, 500);
            setTimeout(function () {
                scrollBar()
            }, 520);
        });

    }



    function update() {

        let output_list = [];
        $( ".output_text" ).each(function( index, value  ) {
            output_list.push($(this).val());
        });
        let input_list = [];
        $( ".input_text" ).each(function( index, value  ) {
            input_list.push($(this).val());
        });
        let id= document.getElementById("id").innerText;
        let subject= document.getElementById("subject").value;
        let summary= document.getElementById("textarea-char-counter").value;


        let settings = {
            "async": true,
            "crossDomain": true,
            "url": '<%= server %>' + "robot/knowledgeia",
            "method": "post",
            "data": JSON.stringify({
                "id": id,
                "subject": subject,
                "inputs": input_list,
                "output": output_list,
                "summary": summary
            }),
            "headers": {
                "content-type": "application/json",
            },
            "processData": false,
        }
        $.ajax(settings).done((response) => {
            setTimeout(function () {
                $('#chat').append(addBotMessage(response.message))
            }, 500);
            setTimeout(function () {
                scrollBar()
            }, 520);
        });

    }



    function scrollBar() {
        messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
    }

    function addBotMessage(response) {
        $(".loader").hide();
        return `
<div class="d-flex justify-content-start mb-4">
  <div class="img_cont_msg">
    <img src="/assets/img/bot41.png" class="rounded-circle user_img_msg" alt="">
  </div>
  <div class="msg_cotainer">
  ${response}
    <span class="msg_time">${new Date().toLocaleTimeString()}</span>
  </div>
</div>`;
    }

    function addUserMessage(userMessage) {
        return `
<div class="d-flex justify-content-end mb-4">
        <div class="msg_cotainer_send">
        ${userMessage}
    <span class="msg_time_send">${new Date().toLocaleTimeString()}</span>
    </div>
    <div class="img_cont_msg">
        <img src="/assets/img/user.jpg" class="rounded-circle user_img_msg" alt="">
        </div>
        </div>`;
    }

</script>
</body>

</html>