<!--
=========================================================
Material Dashboard - v1.0.0
=========================================================

Coded by Renan S. Fernandes

=========================================================-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        Robot
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport'/>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet"/>
</head>

<body class="">
<div class="wrapper ">
    <% include modules/sidebar.ejs %>
    <div class="main-panel">
        <% include modules/navbar.ejs %>
        <div class="content">

            <!-- Initiate -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">1 - Parametros Gerais</h4>
                                <p class="card-category">Quanto mais escrever possíveis frases para
                                    este novo conhecimento, mais habilidade o ROBOT terá !</p>
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Assunto</label>
                                                <input type="text" class="form-control" id="subject">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Palavras Chave</label>
                                                <input type="text" class="form-control" id="key">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Descrição</label>
                                                <input type="text" class="form-control" id="summary">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="bmd-label-floating">Função TRE</label>
                                            <select class="form-control"
                                                    id="bot_function" onchange="hide_output()">
                                                <option value="">Sem Funçôes Extras</option>
                                                <option value="tretitulo">Ativar Título</option>
                                                <option value="treregularidade">Ativar Regularidade</option>
                                                <option value="trelocal">Ativar Local de Votação</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="card card-profile">
                            <div class="card-avatar">

                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-gray">Atenção</h6>
                                <h4 class="card-title">Inteligência Artificial</h4>
                                <p class="card-description">
                                    Informações sobre a inteligência artificial.
                                </p>
                                <!--Light blue-->
                                <button type="button" class="btn btn-light-blue verify">Verificar</button>
                                <button type="button" id="to_train" class="btn btn-primary pull-right ">
                                    Retreinar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Training -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">2 - Treinar</h4>
                                <p class="card-category">Quanto mais escrever possíveis frases para
                                    este novo conhecimento, mais habilidade o ROBOT terá !</p>
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="row">
                                        <div class="col-md-12" id="training">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Treino</label>
                                                <input type="text" class="form-control" id="training0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                        </div>
                                    </div>
                                    <button type="button" id="more-training" class="btn btn-primary pull-right">Mais
                                    </button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-profile">
                            <div class="card-avatar">

                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-gray">Atenção</h6>
                                <h4 class="card-title">Treino</h4>
                                <p class="card-description">
                                    Quanto mais escrever possíveis perguntas para a sua resposta desejada, mais preciso
                                    o ROBOT será !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Answer -->
            <div class="container-fluid" id="myDIV">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">3 - Respostas</h4>
                                <p class="card-category">Respostas possíveis.</p>
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="row">
                                        <div class="col-md-12" id="answer">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Resposta</label>
                                                <input type="text" class="form-control" id="answer0">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                        </div>
                                    </div>
                                    <button type="button" id="more-answers" class="btn btn-primary pull-right">Mais
                                    </button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-profile">
                            <div class="card-avatar">

                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-gray">Atenção</h6>
                                <h4 class="card-title">Resposta</h4>
                                <p class="card-description">
                                    Mais de uma resposta possível para o conhecimento que será registrado eleva a ilusão
                                    do usuário.
                                    Conhecimentos com funcões não necessitam de resposta.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Test -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">4 - Aprender !</h4>
                                <p class="card-category">Aprender e validar conhecimento</p>
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="row">
                                        <div class="col-md-12" id="graph">
                                            <h6>Ao enviar o registro do novo conhecimento o ROBOT fará uma análise sobre
                                                sua validade.
                                                Caso seja válido ele aprenderá este novo conhecimento e os
                                                registrará.</h6>
                                            <h6>Os conhecimentos com mesmo assunto serão agrupados. Os assuntos servem
                                                apenas para organização
                                                em sua base de dados.</h6>
                                            <h6>A palavra chave serve como um verificador em segunda camada.</h6>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                        </div>
                                    </div>
                                    <button type="button" id="save" class="btn btn-primary pull-right">Aprender
                                    </button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <% include modules/footer.ejs %>
</div>

<!-- Small modal Train Data-->
<div class="modal modalEdits train_modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card-body">
                <h4 class="card-title">Keras - Supervised Learning</h4>
                <p class="card-description ">
                    Gráfico gerado pelo treino com o novo conhecimento.
                </p>
                <p class="card-description">
                    Accuracy, deve tender a 1.
                    Loss, deve tender a 0.
                </p>
                <!--Light blue-->
                <div id="graph2"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Small modal -->
<div class="modal modalEdits train_verify fade bd-example-modal-sm" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card-body">
                <h4 class="card-title">A.I.</h4>
                <p class="card-description">
                    Este serviço de menssageria usa Supervised Machine Learning para entender as menssagens recebidas.
                    Para evitar conhecimentos de mesmo teor este Bot usa um filtro antes de efetivar um novo
                    conhecimento.
                    Estes dados de corte evitam entradas iguais ou parecidas, desta forma, evitando possíveis respostas
                    iguais para conhecimentos diferentes.
                </p>
                <p class="card-description">
                    As epocas são limitadas até o "Loss" aceitável.
                </p>
                <p class="card-description">
                    Os dados devem ser configurados no .ENV.
                </p>
                <h5>Dados:</h5>
                <h5>LEARNING_RATE:<%= LEARNING_RATE %></h5>
                <h5>EPOCHS:<%= EPOCHS %></h5>
                <h5>MESSENGER_PRECISION:<%= MESSENGER_PRECISION %></h5>
                <h5>LEARNING_PRECISION:<%= LEARNING_PRECISION %></h5>
                <h5>FIND_KNOWLEDGE_PRECISION:<%= FIND_KNOWLEDGE_PRECISION %></h5>
                <!--Light blue-->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<!--   Core JS Files   -->
<script src="../assets/js/core/jquery.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap-material-design.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>


<script src="../assets/js/plugins/jquery-jvectormap.js"></script>

<!-- Library for adding dinamically elements -->
<script src="../assets/js/plugins/arrive.min.js"></script>

<!--  Notifications Plugin    -->
<script src="../assets/js/plugins/bootstrap-notify.js"></script>


<script>
    $(document).ready(function () {
        $(".machine-learning").addClass("active")
    });
</script>
<script>

    $('.verify').click(function () {
        $('.train_verify').modal()
    })
    $('.train_modal').click(function () {
        $('.train_modal').modal('hide')
    });
    $('#to_train').click(async () => {
        let settings = {
            "async": true,
            "crossDomain": true,
            "url": '<%= server %>' + "teacher/train",
            "method": "get",
            "headers": {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            "processData": false
        }
        await $.ajax(settings)
            .done((result) => {
                let image = new Image();
                image.src = 'data:image/png;base64,' + result.data['graph'];
                let src = document.getElementById("graph2");
                src.appendChild(image);

            })
        $('.train_modal').modal()
    });

    $('#create').click(function () {
        let name = document.getElementById("first_name").value
        let lastName = document.getElementById("last_name").value
        let email = document.getElementById("email").value
        let password = document.getElementById("password").value
        let business = document.getElementById("business").value
        let bot_function = document.getElementById("bot_function").value

        if (email && name && password) {
            let settings = {
                "async": true,
                "crossDomain": true,
                "url": '<%= server %>' + 'webtool/toolkit/admins',
                "method": "subscribe",
                "headers": {
                    "content-type": "application/json",
                    "cache-control": "no-cache",
                },
                "processData": false,
                "data": JSON.stringify({
                    firstName: name,
                    lastName: lastName,
                    email: email,
                    password: password,
                    business: business,
                    bot_function: bot_function
                }),
            }

            $.ajax(settings).done((message) => {
                alert(message.response)
                document.getElementById("cadastro").innerHTML = "Dados pessoais cadastrados com sucesso.";
                document.getElementById("first_name").value = "";
                document.getElementById("last_name").value = "";
                document.getElementById("email").value = "";
                document.getElementById("password").value = "";
                document.getElementById("business").value = "";
                document.getElementById("bot_function").value = "";
            });
        } else {
            notify('danger', "Por favor, complete os campos...")
        }
    })
</script>
<script>
    let numberOfTraining = 0;
    let numberOfAnswer = 0;

    function hide_output() {
        let x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    $("#more-training").click(function () {
        $("#training").append(`<div class="form-group">
                        <label class="bmd-label-floating">Treino</label>
                        <input type="text" class="form-control" id="training${++numberOfTraining}">
                        </div>`);
    });
    $("#more-answers").click(function () {
        $("#answer").append(`<div class="form-group">
                        <label class="bmd-label-floating">Resposta</label>
                        <input type="text" class="form-control" id="answer${++numberOfAnswer}">
                        </div>`);
    });

    $('#save').click(function () {
        let training = []
        let answer = []
        try {
            if (document.getElementById("training0").value) {
                for (let i = 0; i <= numberOfTraining; i++) {
                    training.push(document.getElementById("training" + i).value)
                }
            }
            if (document.getElementById("answer0").value) {
                for (let i = 0; i <= numberOfAnswer; i++) {
                    answer.push(document.getElementById("answer" + i).value)
                }
            }
            let subject = document.getElementById("subject").value
            let key = document.getElementById("key").value
            let summary = document.getElementById("summary").value
            let bot_function = document.getElementById("bot_function").value

            let settings = {
                "async": true,
                "crossDomain": true,
                "url": '<%= server %>' + "robot/knowledgeia",
                "method": "put",
                "headers": {
                    "content-type": "application/json",
                    "cache-control": "no-cache",
                },
                "processData": false,
                "data": JSON.stringify({
                    "subject": subject,
                    "inputs": training,
                    "key": key,
                    "output": answer,
                    "summary": summary,
                    "bot_function": bot_function
                }),
            }
            $.ajax(settings)
                .done((data) => {
                    if (data.mongo_status === 200) {
                        document.getElementById("graph").value = "";
                        let image = new Image();
                        image.src = 'data:image/png;base64,' + data.keras['graph'];
                        let src = document.getElementById("graph");
                        document.getElementById("subject").value = "";
                        document.getElementById("key").value = "";
                        document.getElementById("summary").value = "";
                        document.getElementById("training").innerHTML = "<div class=\"form-group\">\n" +
                            "                                                <label class=\"bmd-label-floating\">Treino</label>\n" +
                            "                                                <input type=\"text\" class=\"form-control\" id=\"training0\">\n" +
                            "                                            </div>";
                        document.getElementById("answer").innerHTML = "<div class=\"form-group\">\n" +
                            "                                                <label class=\"bmd-label-floating\">Resposta</label>\n" +
                            "                                                <input type=\"text\" class=\"form-control\" id=\"answer0\">\n" +
                            "                                            </div>";
                        src.innerHTML = "<h6>Gráfico gerado pelo treino com o novo conhecimento.</h6>" +
                            "<h6>Accuracy, deve tender a 1.</h6>" +
                            "<h6>Loss, deve tender a 0</h6>";
                        src.appendChild(image);
                        notify('success', data.mongodb_message);
                    } else if (data.mongo_status === 300) {
                        notify('danger', data.mongodb_message)
                    } else {
                        notify('success', data.mongodb_message)
                    }

                })
                .fail((message) => {
                    notify('danger', message)
                })
        } catch (e) {
            notify('danger', 'Complete o treinamento !')
        }
    })

    const notify = (type, message) => {
        //type = ['', 'info', 'danger', 'success', 'warning', 'rose', 'primary'];
        $.notify({
            icon: "add_alert",
            message: message

        }, {
            type: type,
            timer: 3000,
            placement: {
                from: 'top',
                align: 'right'
            }
        });
    }


</script>
</body>

</html>