<!--
=========================================================
Material Dashboard - v1.0.0
=========================================================

Coded by Renan S. Fernandes

=========================================================-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        Robot
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport'/>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

    <!-- CSS Files -->
    <link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet"/>


</head>

<body class="">
<div class="wrapper ">
    <% include modules/sidebar.ejs %>
    <div class="main-panel">
        <!-- Navbar -->
        <% include modules/navbar.ejs %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- Part 1 -->
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Procurar Usuários</h4>
                                <p class="card-category">Usuários que interagiram com o ROBOT</p>
                            </div>
                            <div class="card-body">
                                <div class="card card-header">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Identificador</label>
                                                <input type="text" class="form-control" id="identifier">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Titulo de Eleitor</label>
                                                <input type="text" class="form-control" id="tittle">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <label for="select-access" class="bmd-label-floating ">Plataforma</label>
                                            <label for="platform"></label><select class="form-control" id="platform">
                                                <option value="facebook">Facebook</option>
                                                <option value="webpage">Web Page</option>
                                                <option value="whatsapp">Whatsapp (desenvolvimento)</option>
                                            </select>
                                        </div>
                                        <button class="btn bmd-btn-icon" for="search" id="search">
                                            <i class="material-icons">search</i>
                                        </button>
                                    </div>
                                </div>

                                <br>
                                <div class="table-responsive">
                                    <table id="dtBasicExample"
                                           class="table table-striped table-hover"
                                           cellspacing="0" width="100%">

                                        <thead class=" text-primary">
                                        <th>
                                            Dados
                                        </th>
                                        <th>
                                            Interaçôes
                                        </th>
                                        <th>
                                            Cadastro
                                        </th>
                                        <th>
                                            Ultima interação
                                        </th>
                                        <th>
                                            Opções
                                        </th>
                                        </thead>
                                        <tbody id="users_list">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <% include modules/footer.ejs %>
</div>


<!-- Modal show-->
<div class="modal modalView fade" id="modalinput" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Detalhes do Usuário</h5>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Detalhes</h4>
                    </div>
                    <div class="card-body">
                        <h6 id="from"></h6>
                        <h6 id="kind"></h6>
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                Tipo
                            </th>
                            <th>
                                Conteúdo
                            </th>
                            </thead>
                            <tbody id="details">
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal chat-->
<div class="modal modalChat fade" id="modalinput" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chat</h5>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Detalhes</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                Sender
                            </th>
                            <th>
                                Data
                            </th>
                            <th>
                                Mensagem
                            </th>
                            </thead>
                            <tbody id="chat">
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>



<!--   Core JS Files   -->
<script src="../assets/js/core/jquery.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap-material-design.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>


<!--  Notifications Plugin    -->
<script src="../assets/js/plugins/bootstrap-notify.js"></script>


<script>
    $(document).ready(function () {
        $(".users").addClass("active")
        lastUsers()
    });


    const lastUsers = (identifier = '', tittle = '', platform = 'facebook') => {
        const myNode = document.getElementById("users_list");
        myNode.innerHTML = '';
        let settings = {
            "async": true,
            "crossDomain": true,
            "url": '<%= server %>' + "webtool/toolkit/webpage/users",
            "method": "search",
            "data": JSON.stringify({
                'identifier': identifier,
                'tittle': tittle,
                'platform': platform
            }),
            "headers": {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            "processData": false,
        }

        $.ajax(settings).done((users) => {
            let userIdOrNameButNameIsFirst;
            // Fill users list
            users.foundUsers.forEach((user, index) => {
                let form = 'Não interagiu sobre o TRE';
                if (user.chat.tituloCalls > 0 || user.chat.localCalls > 0
                    || user.chat.regularidadeCalls > 0) form = 'Usuário solicitou ações do TRE';
                switch (user.platform) {
                    case 'facebook':
                        userIdOrNameButNameIsFirst = user.facebookname ? user.facebookname : user._id;
                        break;
                    case 'webpage':
                        userIdOrNameButNameIsFirst = typeof user._id === 'number' ? user._id : user._id.substring(0, 20).concat('...');
                        break;
                }
                $("#users_list").append(`<tr>
    <td>
    ${userIdOrNameButNameIsFirst}
    </td>
    <td>
    ${user.chat.calls}
    </td>
    <td>
    ${form}
    </td>
    <td>
    ${user.chat.lastcalltime}
    <td>
            <button type="button" class="btn btn-primary viewUser" id="${user._id}">Visualizar</button>
            <button type="button" class="btn btn-primary viewChat" id="${user._id}">Conversa</button>
            </td>
    </tr>`);
            })


            $('.viewUser').click(function () {
                let id = ($(this).attr('id'));
                document.getElementById("details").innerHTML = "";

                let card = users.foundUsers.find(card => {
                    if (card._id === id) return card
                })
                document.getElementById("from").innerHTML = `Plataforma: ${card.platform}`
                let idUser = card.platform === 'facebook' ? card.facebookname : card._id;
                let isAlwaysFull = idUser ? idUser : card._id
                document.getElementById("kind").innerHTML = card.titulodeeleitor !== '' ? '' : `Usuário interagiu apenas por curiosidade.`;
                $('#details').append(`<tr>
        <td>
            Identificador
        </td>
        <td>
            ${isAlwaysFull}
        </td>
    </tr>
    <tr>
        <td>
            Título
        </td>
        <td>
            ${card.chat.tituloCalls}
        </td>
    </tr>
    <tr>
        <td>
            Local de Votacão
        </td>
        <td>
            ${card.chat.localCalls}
        </td>
    </tr>
    <tr>
        <td>
            Regularidade
        </td>
        <td>
            ${card.chat.regularidadeCalls}
        </td>
    </tr>
    <tr>
        <td>
            Mensagens
        </td>
        <td>
            ${card.chat.calls}
        </td>
    </tr>
    <tr>
        <td>
            Data de Nascimento
        </td>
        <td>
            ${card.datadenascimento}
        </td>
    </tr>`)

                $('.modalView').modal('show');
            });

            $('.viewChat').click(function () {
                let id = ($(this).attr('id'));
                document.getElementById('chat').innerHTML = '';

                let card = users.foundUsers.find(card => {
                    if (card._id === id) return card
                })
                card.chat.messages.forEach(message => {
                    let time = new Date(message.time);
                    let date = `${time.getDay()}/${time.getMonth()}/${time.getFullYear()}`
                    if (message.user) {
                        $('#chat').append(`<tr>
<td>Usuário</td>
<td>${date}</td>
<td>${message.user}</td>
</tr>`)
                    } else {
                        $('#chat').append(`
<tr>
<td>Robot</td>
<td>${date}</td>
<td>${message.bot}</td>
</tr>`);
                    }
                })
                $('.modalChat').modal('show');
            });


        })
    }

    $('#search').click(function () {
        let identifier = document.getElementById("identifier").value !== '' ? document.getElementById("identifier").value : ''
        let tittle = document.getElementById("tittle").value !== '' ? document.getElementById("tittle").value : ''
        let platform = document.getElementById("platform").value !== '' ? document.getElementById("platform").value : ''
        lastUsers(identifier, tittle, platform)
    });


    //Robot Chat
    $('#dice_coeficiente').click(function () {
        $('.modalChatRobot').modal('show');

    });
    $('.chatButton').click(function () {
        $('.modalChatRobot').modal('hide')
    });

</script>
</body>

</html>