<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li><h6>ROBOT V2.0</h6></li>
                <li>
                    <a href="https://www.sonda.com/">
                        About Us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            2020, made by
            <a href="https://github.com/o0renan0o" target="_blank">Renan Fernandes</a> - SONDA.
        </div>
    </div>
</footer>