<!-- Modal show-->
<div class="modal modalChatRobot fade" id="modalinput" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn btn-secondary chatButton" data-dismiss="modalChatRobot">Fechar</button>
            <div class="chat">
                <div class="chat-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="/assets/img/bot41.png" class="rounded-circle user_img">
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                            <span>Atendimento</span>
                            <p id="counting">0 Messages</p>
                            <div class="loader"></div>
                        </div>
                    </div>
                </div>
                <div class="chat-body msg_chat_body" id="chat">
                </div>

                <div class="chat-footer">
                    <div class="input-group">
                        <textarea type="required" id="chatmessage" name="text"
                                  class="form-control type_msg"
                                  placeholder="Digite uma Mensagem..."
                                  style="border-bottom-left-radius: 10px;
                                                    border-bottom-right-radius: 10px;"
                        ></textarea>
                        <div class="input-group-append">
                            <span class="input-group-text send_btn" onclick="loadDoc()" id="enter">
                                <i class="material-icons">send</i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
