<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo row">
        <a href="dashboard" class="simple-text logo-normal">
            ROBOT
        </a></div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="dashboards">
                <a class="nav-link" href="dashboard">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="admins">
                <a class="nav-link" href="admins">
                    <i class="material-icons">content_paste</i>
                    <p>Administradores</p>
                </a>
            </li>
            <li class="users">
                <a class="nav-link" href="users">
                    <i class="material-icons">recent_actors</i>
                    <p>Usuários</p>
                </a>
            </li>
            <li class="knowledge">
                <a class="nav-link" href="knowledge">
                    <i class="material-icons">highlight</i>
                    <p>Conhecimento</p>
                </a>
            </li>
            <li class="machine-learning">
                <a class="nav-link" href="machinelearning">
                    <i class="material-icons">adb</i>
                    <p>Machine Learning</p>
                </a>
            </li>
            <li class="server">
                <a class="nav-link" target="_blank" href="https://id.keymetrics.io/api/oauth/register">
                    <i class="material-icons">track_changes</i>
                    <p>Server</p>
                </a>
            </li>
            <li class="server">
                <a class="nav-link" target="_blank" href="https://developers.facebook.com/apps/">
                    <i class="fa fa-facebook"></i>
                    <p>Facebook</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<script>

    // $(".tab").addClass("active"); // instead of this do the below
    //$(this).addClass("active");
</script>