body {
    font-size: 0.9rem;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
}

.page-wrapper .page-content {
    overflow-x: hidden;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
    padding-left: 15px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #1b305a;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #525965;
}

::-webkit-scrollbar-thumb:active {
    background: #525965;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

::-webkit-scrollbar-track:active {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/* Quando o contorle receber foco...*/
input:focus, textarea:focus {
    background: #ffc;
}

.open_div {
    position: relative;
    left: 10px;
    bottom: 5%;
    padding: 3px;
    cursor: pointer;
    text-align: right;
    z-index: 1000;
    width: 80px;
    height: 90px;
    border: 2px solid #1b305a;
    text-align: center;
    border-radius: 15px;
    background-color: #adaeb1;
    box-shadow: 10px 10px 10px #02020240;

}

.open_div:hover {
    background-color: #1b305a;
    color: #fff;


}

.open_div img {
    position: relative;
    width: 40%;
    margin-top: 5px;
}

.open_div img:hover {
    width: 50%;
    height: 50%;
    transition: 0.5s;
}


.open_div active {
    background-color: #bdbbbb;
    margin-bottom: 50px;
    text-align: center;
}

.hidden_div {
    display: none;

}

.autoatendimento {
    position: relative;
    right: 1%;
    padding: 3px;
    color: #020202;
    text-align: center;
    z-index: 1000;
    font-size: 10px;
    font-weight: bold;
}

.autoatendimento:hover {
    color: #fff;
}

.chat {
    width: 100%;
    height: 88vh;
    border-radius: 15px !important;
    background-color: #fff !important;
    bottom: 5%;
    animation-name: chat;
    border: none;
    position: relative;
    z-index: 100;
    color: white;
    box-shadow: 10px 10px 10px #02020240;
    overflow-wrap: break-word;
    border: 2px solid #b8babb;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.msg_chat_body {
    height: 64vh;
    overflow-y: auto;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 12px;
}

.chat-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 2px solid #b8babb !important;
    background-color: #e6e7e7;
}

.chat-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 2px solid #b8babb !important;
    background-color: #e6e7e7;
    padding: 10px;
    position: absolute;
    box-shadow: 20px 20px 20px 0px #02020240;
    bottom: 0;
    width: 100%
}

.type_msg {
    background-color: rgba(0, 0, 0, 0.082) !important;
    border: 0 !important;
    color: rgb(41, 41, 41) !important;
    height: 60px !important;
    overflow-y: auto;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgb(209, 207, 207) !important;
    border: 0 !important;
    color: #214580 !important;
    cursor: pointer;
    display: none;
}

.send_btn i {
    margin-top: 30%;
    z-index: 100000;

}

.send_btn i:hover {
    transition: 0.5s;
    transform: rotate(40deg);
}


.user_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #1b305a;
}

.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info span {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.user_info p {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}


.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 100px;
    border-radius: 10px;
    background-color: #bdbbbb;
    padding: 10px;
    position: relative;
    width: 60%;
    color: rgb(41, 41, 41);
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 100px;
    border-radius: 10px;
    background-color: #1b305a;
    padding: 10px;
    position: relative;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: #1b305adc;
    font-size: 10px;
    font-weight: bold;
}

.msg_time_send {
    position: absolute;
    top: 35px;
    right: -10px;
    bottom: -40%;
    color: #1b305adc;
    font-size: 10px;
    font-weight: bold;
    font-weight: bold;
}

.msg_head {
    position: relative;
    padding: 10px;
}


@media (max-width: 100px) {
    .contacts_chat {
        margin-bottom: 15px !important;
    }
}

.loader {
    position: absolute;
    margin-left: 220px;
    margin-top: -55px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


